.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.disenoTablas {
  display: flex;
  justify-content: space-around;
}

.tablaCambio {
  border: 1px solid lightsalmon;
  margin: 1em;
  top: 40px;
  left: 40px;
  right: 40px;
  min-width: 400px;
}

.tablaConsulta {
  border: 1px solid lightskyblue;
  margin: 1em;
  min-width: 600px;
}

.btn-align {
  justify-content: space-between;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  background-color: papayawhip;
  width: 700px;
  height: auto;
  margin: 0 auto;
  border: 1px solid gray;
  box-shadow: 5px 5px 15px grey;
  border-radius: 4px;
  padding: 10px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-margins {
  width: fit-content;
  margin: 0 auto;
}

.text-start {
  text-align: start !important;
}
